.c-text {
    text-align: justify;
    font-family: getFontFamily("principal");
    color: getColors("principal", 7);

    &--principal-bold {
        color: getColors("principal", 0);
        font-weight: 700;
    }

    &--xl {
        font-size: getFontSize("xl");
    }

    &--center {
        text-align: center;
    }

    &--dark {
        color: #000000;
        font-weight: 600;
    }

    &--medium {
        font-size: getFontSize("m");
        line-height: 1.3em;
    }
}