.c-title {
    font-family: getFontFamily("principal");
    font-size: getFontSize("3xl");
    font-weight: 800;
    text-align: center;

    color: getColors("principal", 0);

    &--alternativo{
        color: getColors("principal", 5);
    }

    &--alternativo-secundario{
        font-family: getFontFamily("alternativo");
        color: getColors("principal", 7);
    }

    &--medium{
        font-size: getFontSize("2xl");
    }

    &--xl{
        font-size: getFontSize("xl");
        font-weight: 700;
    }

    &--small{
        font-size: getFontSize("l");
    }

    &--lighter{
        color: getColors("principal", 8);
    }

    &--left{
        text-align: left;
    }
    
}